<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="re_1" style="min-width: 500px;height: 300px;text-align: center;border: 1px solid red;">
    <h1>快速注册</h1>
<form action="index.html" method="post">
<label>皮皮账号</label><input type="text" class="user"><br/>
<label>密码</label><input type="password" class="password"><br/>
<label>确认密码</label><input type="password" class="password1"><br/>
<label>验证码</label><input type="text"><img src="index.html"><br/>
<input type="checkbox"><label>已阅读并同意《用户协议》</label><br/>
<input type="submit" value="快速注册">
</form>
</div>
</body>
</html>